# Ignore the dist/version module
version.py

# Ignore Python bytecode
*.pyc
*.pyo

# Ignore build and dist temporaries
dist
build
*.egg-info
examples/data

# Ignore temporary coverage reports
.coverage
